@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&family=Manrope:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


html {
    scroll-behavior: smooth;
}

* {
    font-family: "Poppins", sans-serif;
}

.back-login {
    background-image: url('../assets/images/background/background_login_kanan.svg');
    background-repeat: no-repeat;
    background-size: cover;
}

.background-inner-login {
    background: linear-gradient(80.16deg, rgba(27, 51, 81, 0.8) -30.88%, rgba(36, 6, 33, 0.8) 171.06%);
    border-image-source: linear-gradient(74.21deg, #FFFFFF 20.44%, rgba(0, 0, 0, 0) 33.4%);
}


.login-button {
    transition: 300ms ease-in-out;

}


.login-button:hover {
    background: radial-gradient(109.99% 253.12% at 76.68% 66.67%, #0B5AFD 0%, #0960FF 100%);
    box-shadow: 0px 0px 18.28px 0px #25B5D2;
}

.login-button-active {
    background: radial-gradient(109.99% 253.12% at 76.68% 66.67%, #0B5AFD 0%, #0960FF 100%);
    box-shadow: 0px 0px 18.28px 0px #25B5D2;
}

.bg-dashboard {
    background-image: url('../assets/images/background/bg-dashboard.png');
    background-repeat: no-repeat;
    background-size: cover;
}


.sidebar-background {
    background: linear-gradient(269.37deg, #1B3351 15.06%, #240621 187.53%);

}

.drawer-side {
    z-index: 8;
    height: 125dvh !important ;
}

.drawer-side::-webkit-scrollbar {
    display: none;
}

.menu-child-active {
    background: linear-gradient(180deg, rgba(49, 58, 91, 0) -1.11%, rgba(49, 58, 91, 0.44) 23.83%, #313A5B 99.56%);
}

.menu-child:hover {
    background: linear-gradient(180deg, rgba(49, 58, 91, 0) -1.11%, rgba(49, 58, 91, 0.44) 23.83%, #313A5B 99.56%);

}

.menu-child:hover .hex-icon {
    background: radial-gradient(109.99% 253.12% at 76.68% 66.67%, #2C3D8D 0%, #24C6CE 100%);
    box-shadow: 0px 0px 18.28px 0px #25B5D2;
}

.hex-icon-active {
    background: radial-gradient(109.99% 253.12% at 76.68% 66.67%, #2C3D8D 0%, #24C6CE 100%);
    box-shadow: 0px 0px 18.28px 0px #25B5D2;
}

.bg-onboarding {
    background-image: url('../assets/images/background/background_login_kanan.svg');
}


.bg-backoffice-icon {
    background: #FFFFFF33;
}

.bg-card-dashboard {
    background: linear-gradient(180deg, rgba(49, 58, 91, 0) -19.57%, #313A5B 98.8%, rgba(49, 58, 91, 0.222222) 130.43%),
        linear-gradient(180deg, rgba(0, 0, 0, 0) 121.55%, rgba(0, 0, 0, 0.2) 123.68%);

}

.border-divider-card {
    background: linear-gradient(90deg, rgba(249, 248, 247, 0) 0%, #FBFAFA 53.04%, rgba(249, 248, 247, 0) 100%);
    background-blend-mode: overlay;
    width: 100%;
    height: 1px;
}

.bg-blur-comission {
    background: rgba(255, 255, 255, 0.21);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3.6px);
    -webkit-backdrop-filter: blur(3.6px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.tab-active {
    background: #FFFFFF26;
    border: 1px solid #FFFF;
}

.tabs:hover {
    background: #FFFFFF26;
    border: 1px solid #FFFF;
}

.card-comission {
    background: linear-gradient(180deg, rgba(49, 58, 91, 0) -19.57%, #313A5B 98.8%, rgba(49, 58, 91, 0.222222) 130.43%),
        linear-gradient(180deg, rgba(0, 0, 0, 0) 121.55%, rgba(0, 0, 0, 0.2) 123.68%);
}

.kpi-button {
    box-shadow: 0px 8.33px 33.1px 0px #25B5D2;
}

.calender-notif {
    background: #666B81;
}

.our-regulation-background {
    background: linear-gradient(180deg, rgba(49, 58, 91, 0) -19.57%, #313A5B 98.8%, rgba(49, 58, 91, 0.222222) 130.43%),
        linear-gradient(180deg, rgba(0, 0, 0, 0) 121.55%, rgba(0, 0, 0, 0.2) 123.68%);

}

.bg-card-chart {
    background: linear-gradient(142.21deg, rgba(27, 51, 81, 0.3) 19.63%, rgba(97, 127, 155, 0.3) 83.01%);
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.loader {
    border-top-color: #3498db;
    animation: spin 1s linear infinite;
}

.backoffice-style::-webkit-scrollbar {
    display: block ;
}

.backoffice-style::-webkit-scrollbar-thumb {
    background-color: #1B3351 ;
    width: 3px ;
    border-radius: 18px ;
}


.backoffice-style-2::-webkit-scrollbar {
    display: block ;
    cursor: pointer;
}


.backoffice-style-2::-webkit-scrollbar-thumb {
    display: block ;
    background-color: #1B3351 ;
    width: 2px ;
    border-radius: 18px ;
}


.backoffice-style-2::-webkit-scrollbar-track {
    background-color: #0B5AFD ;
    width: 1px ;
    border-radius: 18px ;
}

.fc-scroller-liquid-absolute::-webkit-scrollbar {
    display: block ;
    cursor: pointer;
}

.fc-scroller-liquid-absolute::-webkit-scrollbar-thumb {
    display: block ;
    background-color: #1B3351 ;
    width: 2px ;
    border-radius: 18px ;
}


.fc-scroller-liquid-absolute::-webkit-scrollbar-track {
    background-color: #0B5AFD ;
    width: 1px ;
    border-radius: 18px ;
}


.our-team-left::-webkit-scrollbar-track {
    background: #FAFAFA14;
    width: 1px ;
    border-radius: 18px ;
}

.our-team-left::-webkit-scrollbar {
    display: block ;
    cursor: pointer;
    height: 10px ;
    width: 6px ;
    margin-left: 9px ;
}

.our-team-left::-webkit-scrollbar-thumb {
    display: block ;
    background: #C1C1C1;
    width: 1px ;
    border-radius: 18px ;
}

.search-bar-our-team {
    background: #2C365D99;
}

/* .btn-primary {
    background-color: #1f2937 ;
    color: #FFFF ;
} */

.hidden-scroll::-webkit-scrollbar {
    display: none ;
}

.calendar-custom {
    zoom: 80% ;
}

/* .fc-dayGridMonth-view table thead tr,  .fc-dayGridMonth-view table tbody td{
    border: hidden !important ;
} */

.fc-theme-standard .fc-scrollgrid, .fc-theme-standard th, .fc-theme-standard td  {
    border: hidden !important ;
} 

.fc-daygrid-event-dot {
    width: 10px !important;
    height: 10px !important ;
    background-color: red ;
    border-radius: 100% ;
    margin-left: 50% !important ;
}

.fc-button-primary {
    background-color: transparent !important ;
    border: hidden !important ;
}

.fc-daygrid-day-top {
    height: 100% ;
}

@media only screen and (min-width: 1500px ){
    .drawer-side {
        height: 100dvh !important;
    }
    body, .drawer  {
        zoom: 100% !important ;
    }
}

@media only screen and (max-width: 1336px) {
    .fc-toolbar-title {
        font-size: 14px !important;
    }
}

@media only screen and (max-width: 1024px) {
    .fc-scroller-liquid-absolute::-webkit-scrollbar {
        display: none ;
    }

   .container-chart {
        position: relative; height:40vh; width:70vw ;
        margin: 0 auto ;
    }

    .our-team-left::-webkit-scrollbar {
        display: none ;
    }
    
}