.card {
    border-radius: 10px !important;
}

.card .card-header {
    border-radius: 10px 10px 0 0 !important;
}

.page-title-box .page-title {
    color: #FFF !important;
}

.page-title-box .breadcrumb .breadcrumb-item a{
    color: #FFF !important;
}

.page-title-box .breadcrumb::before {
    color: #FFF !important;
}